<div class="page-header cv-unstyle-border-bottom">
    <h2 class="cv-light-color">
        <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
        Technologies
    </h2>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Languages & Frameworks</h3>
                <ul class="list-unstyled">
                    <li>
                        PHP 7
                        <ul>
                            <li>
                                <span class="label label-success">Learning</span>
                                Laravel
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="label label-success">Learning</span>
                        JavaScript ES6, TypeScript
                        <ul>
                            <li>
                                <span class="label label-success">Learning</span>
                                Angular 2
                            </li>
                            <li>
                                jQuery 
                            </li>
                        </ul>
                    </li>
                    <li>HTML 5</li>
                    <li>
                        CSS 3
                        <ul>
                            <li>
                                <span class="label label-success">Learning</span>
                                Bootstrap
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="label label-success">Learning</span>
                        SQL DDL/DML
                    </li>
                    <li>
                        HTTP, REST
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Tools</h3>
                <ul class="list-unstyled">
                    <li>
                        Unix/Linux
                        <ul>
                            <li>Bash Unix shell</li>
                            <li>Vim</li>
                        </ul>
                    </li>
                    <li>OpenSSH</li>
                    <li>SFTP, FileZilla</li>
                    <li>
                        <span class="label label-success">Learning</span>
                        Git, GitHub
                    </li>
                    <li>
                        Vagrant (local development)
                        <ul>
                            <li>Homestead</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Things to learn</h3>
                <ul class="list-unstyled">
                    <li>Sass CSS</li>
                    <li>Payment processor, Stripe</li>
                    <li>React JavaScript library</li>
                    <li>Amazon Web Services</li>
                    <li>Google AdSense, AdWords, Analytics</li>
                    <li>Docker</li>
                </ul>
            </div>
        </div>
    </div>
</div>
