<div class="page-header">
    <h2>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Personal skills
    </h2>
</div>
<dl>
    <dt>Mother toungue</dt>
    <dd>Danish</dd>
    <dt>Other languages</dt>
    <dd>English (Proficient)</dd>
    <dd>Russian (Basic)</dd>
    <dt>Communication skills</dt>
    <dd>I am better at communicating in text than speech but when I am well prepared I communicate comfortably.</dd>
    <dt>Weakness</dt>
    <dd>I can sometimes get hung up in details and then time management goes out the window, so I need to stop and prioritize.</dd>
    <dt>Strength</dt>
    <dd>I am creative and good at finding solutions.</dd>
</dl>
