<div class="media">
    <div class="media-body">
        <h1 class="h3 media-heading">Jonas Nielsen</h1>
        <p class="">Web Developer</p>
        <p><a href="#"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Printable PDF</a></p>
    </div>
    <div class="media-right media-middle image-container">
        <a href="#" class="visible-xs">
            <img class="media-object img-rounded" width="100" src="assets/jonas.png" alt="Jonas Nielsen">
        </a>
    </div>
</div>
