<div class="page-header">
    <h2 class="cv-font-1">
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
        Ambition
    </h2>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <p>
            I like being creative.
            I like engineering, design, music and programming.
            I am trying to get into the web development industry
            because it seems like a low cost, low barrier to entry
            field for getting some practical skills with engineering
            and design.
        </p>
        <p>
            My goal is to find a job or become an independent web developer and
            branch out into other creative industries but I still
            need a bit more experience.
        </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <p>
            Currently I am searching for a job, preferably a position
            where I can focus my energy on a narrower area of
            development, e.g. front-end so i can build experience and
            grow.
        </p>
        <p>
            I feel bit scattered trying to digest all the things I am learning but I enjoy the challenge.
        </p>
        <p>
            I am still very much a newcomer to the industry but I am
            happy to learn.
        </p>
    </div>
</div>
