<div>
    <div class="page-header cv-unstyle-border-bottom">
        <h2 class="cv-light-color">
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            Portfolio 
        </h2>
    </div>
    <ul class="row list-unstyled">
        <li class="col-xs-12 col-sm-6 col-md-4">
            <a target="_blank" href="https://xmas.exhibit.jonas92.com">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>
                            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            Xmas
                        </h3>
                        <p class="cv-base-color">2016 | Game demo</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-4">
            <a target="_blank" href="https://exhibit.empyrealworks.com/asteroids">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>
                            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            Asteroids
                        </h3>
                        <p class="cv-base-color">2016 | 3D browser game</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-4">
            <a target="_blank" href="https://exhibit.empyrealworks.com/note">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>
                            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            Note
                        </h3>
                        <p class="cv-base-color">2016 | Note taking application</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-4">
            <a target="_blank" href="https://exhibit.empyrealworks.com/sde-eksamen-16">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>
                            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            Pagaj 
                        </h3>
                        <p class="cv-base-color">2016 | Exam SDE</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

