<div>
    <h2>
        <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
        Portfolio 
    </h2>
    <ul>
        <li>
            <a target="_blank" href="https://exhibit.empyrealworks.com/asteroids">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                Asteroids
            </a>
            <p>2016 | 3D browser game</p>
        </li>
        <li>
            <a target="_blank" href="https://exhibit.empyrealworks.com/note">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                Note
            </a>
            <p>2016 | Note taking application</p>
        </li>
        <li>
            <a target="_blank" href="https://exhibit.empyrealworks.com/sde-eksamen-16">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                Exam
            </a>
            <p>2016 | Exam SDE</p>
        </li>
    </ul>
</div>

