<div class="page-header cv-unstyle-border-bottom">
    <h2 class="cv-light-color">
        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
        Education
    </h2>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h3>Web-integrator</h3>
        <dl>
            <dt>Period</dt>
            <dd>29. january 2015 - 8. april 2016</dd>
            <dt>College</dt>
            <dd>
                Syddansk Erhvervskole Odense-Vejle
                <p>
                    Munke Mose Alle 9<br>
                    Postbox 220<br>
                    5100 Odense C
                </p>
            </dd>
            <dt>Exam grade (ECTS)</dt>
            <dd>A</dd>
        </dl>
    </div>
</div>
