<div id="skrollr-body">
<div id="sidebar" class="hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-9">
            </div>
            <div class="col-sm-4 col-md-3">
                <div id="sidebar-container">
                    <div id="sidebar-content" class="component-container">
                        <cv-sidebar></cv-sidebar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 component-container">
                <cv-header></cv-header>
            </div>
            <div class="col-xs-0 col-sm-4 col-md-3"></div>
        </div>
    </div>
</div>
<div id="mobile-welcome">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 component-container">
                <cv-mobile-welcome></cv-mobile-welcome>
            </div>
            <div class="col-xs-0 col-sm-4 col-md-3"></div>
        </div>
    </div>
</div>
<div id="technologies" class="cv-image-container">
    <div class="cv-image-layer" [lazyLoad]="imgTechnologies()"
        data-smooth-scrolling="off"
        data-bottom-top="background-position: 0px 64px;"
        data-top-bottom="background-position: 0px -64px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 component-container">
                <cv-technologies></cv-technologies>
            </div>
            <div class="col-xs-0 col-sm-4 col-md-3"></div>
        </div>
    </div>
</div>
<div id="ambition">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 component-container"
                data-100-bottom-top="transform:translate(100%,0%);"
                data-100-center-top="transform:translate(0%,0%);">
                <cv-ambition></cv-ambition>
            </div>
            <div class="col-xs-0 col-sm-4 col-md-3"></div>
        </div>
    </div>
</div>
<div id="portfolio" class="cv-image-container">
    <div class="cv-image-layer" [lazyLoad]="imgPortfolio()"
        data-smooth-scrolling="off"
        data-bottom-top="background-position: 0px 64px;"
        data-top-bottom="background-position: 0px -64px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 component-container">
                <cv-portfolio></cv-portfolio>
            </div>
            <div class="col-xs-0 col-sm-4 col-md-3"></div>
        </div>
    </div>
</div>
<div id="personal">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 component-container"
                        data-100-bottom-top="transform:translate(-100%,0%);"
                        data-100-center-top="transform:translate(0%,0%);">
                        <cv-personal-skills></cv-personal-skills>
                    </div>
                    <div class="col-xs-12 col-sm-6 component-container"
                        data-100-bottom-top="transform:translate(100%,0%);"
                        data-100-center-top="transform:translate(0%,0%);">
                        <cv-personal-information></cv-personal-information>
                    </div>
                </div>
            </div>
            <div class="col-xs-0 col-sm-4 col-md-3"></div>
        </div>
    </div>
</div>
<div id="education" class="cv-image-container">
    <div class="cv-image-layer" [lazyLoad]="imgEducation()"
        data-smooth-scrolling="off"
        data-bottom-top="background-position: 0px 64px;"
        data-top-bottom="background-position: 0px -64px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 component-container">
                <cv-education></cv-education>
            </div>
            <div class="col-xs-0 col-sm-4 col-md-3"></div>
        </div>
    </div>
</div>
<div id="links">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 component-container"
                data-100-bottom-top="transform:translate(-100%,0%);"
                data-100-center-top="transform:translate(0%,0%);">
                <cv-links></cv-links>
            </div>
            <div class="col-xs-0 col-sm-4 col-md-3"></div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 component-container">
                <cv-footer></cv-footer>
            </div>
            <div class="col-xs-0 col-sm-4 col-md-3"></div>
        </div>
    </div>
</div>
</div>
