<div id="sidebar-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
            </div>
            <div id="sidebar-bg" class="col-xs-4">
                <div id="sidebar-content">
                    <cv-sidebar></cv-sidebar>
                </div>
            </div>
        </div>
    </div>
</div>
<div id=header-bg>
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <cv-header></cv-header>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
</div>
<div id=footer-bg>
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <cv-footer></cv-footer>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
</div>
