.component-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#sidebar-bg {
    height: 100vh;
    background-color: #EEE;;
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#sidebar-content {
    overflow-y: auto;
    height: 100%;
}

#sidebar-content::-webkit-scrollbar {
    display: none;
}
