#header-bg {
    background-color: grey;
}

#footer-bg {
    background-color: lightgrey;
}

#sidebar-bg {
    background-color: grey;
    height: 100vh;
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
