#header-bg {
    background-color: grey;
}

#footer-bg {
    background-color: lightgrey;
}

#sidebar-bg {
    background-color: grey;
    height: 100vh;
}

#sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#sidebar-content {
    overflow-y: auto;
    height: 100%;
}

#sidebar-content::-webkit-scrollbar {
    display: none;
}
