<div class="wrapper">
    <div class="image-container">
        <a target="_blank" href="assets/jonas.png"><img lazyLoad="assets/jonas.png" alt="Jonas Nielsen" class="img-rounded"></a>
    </div>
    <p class="hr-decoration" aria-hidden="true">
        &#x2660; &#x2660; &#x2660; &#x2660; &#x2660; &#x2660; &#x2660; &#x2660; &#x2660; &#x2660; &#x2660;
    </p>
    <nav>
        <ol class="list-unstyled">
            <li><a pageScroll href="#technologies">Technologies</a></li>
            <li><a pageScroll href="#ambition">Ambition</a></li>
            <li><a pageScroll href="#portfolio">Portfolio</a></li>
            <li><a pageScroll href="#personal">Personal - skills / information</a></li>
            <li><a pageScroll href="#education">Education</a></li>
            <li><a pageScroll href="#links">Links</a></li>
        </ol>
    </nav>
    <p class="hr-decoration" aria-hidden="true">
        &#x2660; &#x2660; &#x2660; &#x2660; &#x2660; &#x2660; &#x2660; &#x2660; &#x2660; &#x2660; &#x2660;
    </p>
    <div id="sidebar-contact">
        <p>
            <a href="tel:+4524245942" class="cv-base-color">
                <span class="sr-only sr-only-focusable">Phone:</span>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                +45 24 24 59 42
            </a>
        </p>
        <p>
            <a href="mailto:biz@jonas92.com" class="cv-base-color">
                <span class="sr-only sr-only-focusable">Mail:</span>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                biz@jonas92.com
            </a>
        </p>
    </div>
</div>
