.wrapper {
    margin: 1rem 14%;
}

.image-container {
    text-align: center;
}

img {
    max-width: 100%;
}

li {
    margin: 1rem 0;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hr-decoration {
    overflow: hidden;
    font-size: 2rem;
    white-space: nowrap;
    margin: 4rem 0;
}
