<div class="wrapper">
    <div class="image-container">
        <img src="assets/jonas.png" alt="Jonas Nielsen" class="img-rounded">
    </div>
    <hr>
    <nav>
        <ol class="list-unstyled">
            <li><a href="#technologies">Technologies</a></li>
            <li><a href="#ambition">Ambition</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#personal-skills">Personal skills</a></li>
            <li><a href="#personal-information">Personal information</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#links">Links</a></li>
        </ol>
    </nav>
    <hr>
    <div id="sidebar-contact">
        <p>
            <a href="tel:+4524245942" class="cv-base-color">
                <span class="sr-only sr-only-focusable">Phone:</span>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                +45 24 24 59 42
            </a>
        </p>
        <p>
            <a href="mailto:biz@jonas92.com" class="cv-base-color">
                <span class="sr-only sr-only-focusable">Mail:</span>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                biz@jonas92.com
            </a>
        </p>
    </div>
</div>
