<div class="page-header">
    <h2 class="cv-font-1">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        Personal information
    </h2>
</div>
<dl>
    <dt>Name</dt>
    <dd>Jonas Bjørn Faurholt Nielsen</dd>
    <dt>Local</dt>
    <dd>26, Knud Hansens Vej, Kolding, 6000, Denmark</dd>
    <dt>Mobile</dt>
    <dd>+45 24 24 59 42</dd>
    <dt>E-mail</dt>
    <dd>biz@jonas92.com</dd>
    <dt>Sex</dt>
    <dd>Male</dd>
    <dt>Date of birth</dt>
    <dd>23/02/1992</dd>
    <dt>Nationality</dt>
    <dd>Danish</dd>
</dl>
