/* You can add global styles to this file, and also import other style files */

/* PALETTE
 * http://www.colourlovers.com/palette/482774/dream_magnet
 *
 */

/*
body::-webkit-scrollbar {
    display: none;
}
*/

body, .cv-base-color {
    color: #222;
}

nav, h1, h2, h3 {
    font-family: Oswald, Helvetica, sans-serif;
}

#author {
    font-family: UnifrakturCook, Helvetica, sans-serif;
}

#subheading {
    font-size: 2rem;
    margin-top: 1rem;
}

h2.cv-font-1 {
    font-size: 5rem;
}

.cv-light-color {
    color: #FFF;
}

.cv-unstyle-border-bottom {
    border-bottom: none;
}

dl > dt:not(:first-of-type) {
    margin-top: 1rem;
}

.panel-body > h3 {
    margin-top: 1rem;
}

a, a:link, a:visited {
    color: #008C9E;
}

a:hover, a:active {
    color: #005F6B;
}

.label-success {
    background-color: #008C9E;
}


#sidebar-container {
    background-color: #222;
    border-left: 1px solid rgba(0,223,251,.2);
    border-right: 1px solid rgba(0,223,251,.2);
}

hr {
    color: red;
}

.cv-image-container {
    position: relative;
    background-color: #005F6B;
}

#sidebar a {
    color: #FFF;
}

.cv-image-layer {
    background-color: #00B4CC;
    background-blend-mode: multiply;
    transition: opacity 1s;
    opacity: 0;

}

.cv-image-layer.ng2-lazyloaded {
    opacity: 1;
}

.page-header {
    margin-top: 1rem;
}

.panel-body > h3 {
    padding-bottom: 1rem;
}
