/* You can add global styles to this file, and also import other style files */
body::-webkit-scrollbar {
    display: none;
}

body, .cv-base-color {
    color: #333;
}

dl > dt:not(:first-of-type) {
    margin-top: 1rem;
}

.panel-body > h3 {
    margin-top: 1rem;
}
