/* You can add global styles to this file, and also import other style files */
body::-webkit-scrollbar {
    display: none;
}

body, .cv-base-color {
    color: #222;
}

.cv-light-color {
    color: #FFF;
}

.cv-unstyle-border-bottom {
    border-bottom: none;
}

dl > dt:not(:first-of-type) {
    margin-top: 1rem;
}

.panel-body > h3 {
    margin-top: 1rem;
}

a, a:link, a:visited {
    color: #008C9E;
}

a:hover, a:active {
    color: #005F6B;
}

.label-success {
    background-color: #008C9E;
}


#sidebar-bg {
    background-color: #343838;
}

.image-fading-layer {
    background-color: #005F6B;
}

#sidebar a {
    color: #FFF;
}

.cv-image-container {
    position: relative;
    background-color: #00B4CC;
    background-blend-mode: multiply;
    transition: opacity 1s;
    opacity: 0;

}

.cv-image-container.ng2-lazyloaded {
    opacity: 1;
}
